* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/starfield.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(4, 6, 14);
  color: #ddd;
}

html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-style: italic;
}
h3,
h4,
h5,
h6 {
  color: hsl(58, 80%, 42%);
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

a {
  color: hsl(93, 95%, 33%);
}

a:active {
  color: hsl(58, 80%, 42%);
}

a:hover {
  color: hsla(196, 93%, 39%, 0.6);
}

nav {
  border: none;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5%;
}

.nav-wrapper {
  color: #ddd;
  background: rgba(25, 26, 25, 0.1);
  padding-left: 2%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: none;
  box-shadow: none;
}

.nav-logo {
  height: 110px;
  width: auto;
}
.active-page {
  color: hsl(58, 80%, 42%);
}

.content-about {
  padding: 40px;
}

.footer {
  text-align: center;
}

.page-banner {
  width: 100%;
  margin-top: 1%;
}

#main-logo {
  margin-top: 15%;
  width: 100%;
  height: auto;
}

#home-email {
  font-style: italic;
  text-align: center;
}

#cato-warp-math {
  display: flex;
  align-content: center;
  height: 600px;
  width: 100%;
  margin-top: 1%;
}

#okuda-math {
  height: auto;
  width: 100%;
}

#about-image {
  display: flex;
  align-content: center;
  margin: auto;
  height: 50vh;
  width: auto;
}
